// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    width: 100vw;
    overflow-x: hidden;
    background-color: #F1F5F7;
    position: relative;
    min-height: 100vh;
    height: fit-content !important;
    .footer{
        position:absolute;
        bottom: 0 ;
        width: 100%;
    }
}
.background{
padding: 0%;
.content{
    width: 100%;
    height: 100%;
    background-color: #F1F5F7;
    border-radius: 0% 60% 0% 0%;
}
}
.home {
    position: relative;
}
.navbar {
    .nav-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        #logo {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0%);
        }

        // padding-left: 10px !important;
        // padding-right: 10px !important;
        div {
            width: fit-content;
        }

    }

    .nav-item {
        font-family: 'Roboto', sans-serif;


        div {
            width: fit-content;
        }

        a {
            font-weight: normal;
        }
    }
}

#landingNav {
    background-color: #006AFF !important;
    .nav-link{
    font-size: medium;
    color: white !important;
}
}
//not logged in page
.heading {
    width: fit-content;
    margin: auto;
    margin-top: 30px;

    h1 {
        font-size: 30px;
        font-family: 'poppins', sans-serif;
    }
}
@media (max-width:900px){
    #notLogged-links {
        width: 100% !important;
        height: fit-content !important;
        .link-cards{
            width: 90% !important;
        .link-card {
            width: 90%;
            margin: auto;
            margin-bottom:20px;
        }
    }
    }
}
#notLogged-links {
    border-radius: 0% 0% 0% 40%;
    width:100%;
    height: 250px;
    .link-cards{
    width: 70%;
    .link-card{
        width:fit-content;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .card-foot{
            width: 80%;
            position: relative;
            margin-bottom: -30px;
            .button{
                width: 100% !important;
                height: 100% !important;
                background-color: #FFAC01;
                color: white;
                transition: 0.5s;
               &:hover{
                   transform: scale(1.1);
               }
            }
        }
    }
}
}

//login page
#login {
    width: 400px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    height: fit-content;
    .password-group{
        display: flex;
    }
    .form-icon {
        width: 60px;
    }

    input {
        height: 30px;
        border: solid 0.6px #373535bb;
        border-radius: 37px;
        padding: 20px;
        margin-bottom: 20px;

        &:focus {
            box-shadow: 10px 10px transparent !important;
        }
    }

    #btn {
        margin: auto !important;
    }
}

//framework
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#btn {
    width: fit-content;
    min-width: 150px;
    background-color: #FFAC01;
    padding: 10px;
    border: none;
    border-radius: 37px;
    font-size: 15px;
    font-weight: normal;
    color: white;
}
.navbar-toggler{
    outline: none !important;
    border: none !important;
}
.form-title {
    font-size: 24px;
    width: fit-content;
    margin: auto !important;
    margin-bottom: 30px !important;
    font-family: 'roboto', sans-serif;
    text-align: center;
}

//media queries
@media (min-width:900px) {
    .navbar-collapse {
        width: fit-content !important;
        flex-grow: unset !important;
    }
    .lg-none{
        display:none;
    }
   
}
@media (max-width:900px) {
    .sm-none{
        display:none;
    }
}
