// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
    width: 100vw;
    overflow-x: hidden;
    background-color: #f1f5f7;
    min-height: 100vh;
}
.home {
    position: relative;
}

.navbar {
    .nav-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        #logo {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0%);
        }

        // padding-left: 10px !important;
        // padding-right: 10px !important;
        div {
            width: fit-content;
        }
    }

    .nav-item {
        font-family: "Roboto", sans-serif;

        div {
            width: fit-content;
        }

        a {
            text-decoration: underline;
            text-transform: uppercase;
            font-weight: normal;
        }
    }
}
//not logged in page
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
//login page
#login {
    width: 400px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    .form-icon {
        width: 100px;
    }

    input {
        height: 43px;
        border: solid 0.6px #373535bb;
        border-radius: 37px;
        padding: 20px;
        margin-bottom: 33px;

        &:focus {
            box-shadow: 10px 10px transparent !important;
        }
    }

    #btn {
        margin: auto !important;
    }
}

//framework
#content {
    width: 100vw;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#btn {
    width: fit-content;
    min-width: 150px;
    background-color: #427aa1;
    padding: 10px;
    border: none;
    border-radius: 37px;
    font-size: 15px;
    font-weight: normal;
    color: white;
}

.form-title {
    font-size: 30px;
    width: fit-content;
    margin: auto !important;
    margin-bottom: 30px !important;
    font-family: "roboto", sans-serif;
    text-align: center;
}

//media queries
@media (min-width: 900px) {
    .navbar-collapse {
        width: fit-content !important;
        flex-grow: unset !important;
    }
    .lg-none {
        display: none;
    }
}
@media (max-width: 900px) {
    .sm-none {
        display: none;
    }
}
