// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

$dark-color: #090774;
$text-dark: #464646;

body {
    width: 100vw;
    overflow-x: hidden;
    background-color: white;
    min-height: 100vh;
    height: fit-content !important;
}
.home {
    position: relative;
}
.navbar {
    z-index: 3000;
    background-color: transparent !important;
    align-items: center;
    .btn {
        min-width: 130px;
        width: fit-content;
    }
    .nav-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        #logo {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0%);
        }

        // padding-left: 10px !important;
        // padding-right: 10px !important;
        div {
            width: fit-content;
        }
    }

    .nav-item {
        font-family: "Roboto", sans-serif;

        div {
            width: fit-content;
        }

        a {
            color: black !important;
            font-weight: normal;
        }
    }
    .btn {
        min-width: 120px;
        border-radius: 37px;
    }
}
.hero {
    display: flex;
    min-height: 500px;
    width: 100%;
    // overflow-x: hidden;
    .image {
        width: 50%;
        // margin-right: -100px !important;
        min-width: 320px;
        display: flex;
        justify-content: end;
        align-items: center;
        img {
            width: 80%;
            min-width: 300px;
        }
    }
    .text {
        width: 50%;
        min-width: 320px;
        h1 {
            font-weight: 900;
            font-size: 40px;
            color: $dark-color;
            line-height: 140%;
        }
        p {
            font-family: "Nunito";
            width: 70%;
            font-size: 18px;
            min-width: 300px;
        }

        .hero-cta {
            background: linear-gradient(
                180deg,
                rgba(9, 7, 116, 0.68) 0%,
                #1813ff 97.4%
            );
            font-size: 18px;
            font-weight: bold;
            width: 60%;
            border-radius: 24px;
        }
    }
}
.after-hero {
    .text {
        p {
            width: 70%;
        }
    }
}
.dont-miss-out {
    background-size: cover;
    background-repeat: no-repeat;
    .container {
        min-height: 350px;
        h2 {
            color: white !important;
        }
    }
}
.tools-header {
    color: $dark-color;
}
//not logged in page
#notLogged-links {
    border-radius: 37px;
    height: 90vh;
    max-height: 640px;
    overflow: hidden;
    padding: 0px !important;
    // height: fit-content;
    form {
        width: 50%;
        min-width: 350px;
        height: fit-content;
    }
    .image {
        width: 50% !important;
        min-width: 320px;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.footer {
    margin-bottom: 0px;
    width: 100%;
    height: fit-content;
    .link-cards {
        width: 70%;
        .link-card {
            width: fit-content;
            max-width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .card-foot {
                width: 80%;
                position: relative;
                margin-bottom: -30px;
                .button {
                    width: 100% !important;
                    height: 100% !important;
                    background-color: #ffac01;
                    color: white;
                    transition: 0.5s;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

//login page
#login {
    border: none;
    width: 400px;
    padding: 20px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    background-color: white;
    height: fit-content;
    p {
        font-size: 14px;
    }
    .password-group {
        display: flex;
    }

    input {
        height: 30px;
        border: solid 0.6px $dark-color;
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 20px;
        &:focus {
            box-shadow: 10px 10px transparent !important;
        }
    }
}

//framework
.container {
    max-width: none;
    width: 90% !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "poppins";
    color: $text-dark;
}
.em {
    color: $blue;
}
p {
    font-size: 18px;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.btn-primary {
    background-color: #1813ff;
    &:hover {
        background-color: #1813ff !important;
    }
}
h2 {
    color: $text-dark;
}
#btn {
    width: fit-content;
    min-width: 150px;
    background-color: #427aa1;
    padding: 10px;
    border: none;
    border-radius: 37px;
    font-size: 15px;
    font-weight: normal;
    color: white;
}
.navbar-toggler {
    outline: none !important;
    border: none !important;
}
.form-title {
    font-size: 24px;
    width: fit-content;
    margin: auto !important;
    margin-bottom: 30px !important;
    font-family: "roboto", sans-serif;
    text-align: center;
}
.font-bold {
    font-weight: 700 !important;
}
.sm-show {
    display: none;
}
//media queries
@media (min-width: 900px) {
    .navbar-collapse {
        width: fit-content !important;
        flex-grow: unset !important;
    }
    .lg-none {
        display: none;
    }
}
@media (max-width: 900px) {
    .container {
        width: 100% !important;
        max-width: none !important;
    }
    #notLogged-links {
        height: fit-content !important;
        width: 100vw !important;
        margin: 0px !important;
        border-radius: 0px !important;
        form {
            padding: 20px !important;
        }
        .image {
            display: none !important;
        }
    }
    .hero {
        width: 100% !important;
        .image {
            width: 100%;
            justify-content: center;
        }
        .text {
            width: 100% !important;
            h1 {
                font-size: 24px !important;
            }
            .btn {
                width: 95% !important;
            }
        }
    }
    .flex:not(.flex .flex) {
        &.wrap-reverse {
            flex-wrap: wrap-reverse !important;
        }
        .text {
            width: 100% !important;
            p {
                width: 95% !important;
            }
        }
        .image.flex {
            width: 100% !important;
            justify-content: center;
        }
    }
    .sm-none {
        display: none;
    }
}
.btn-light {
    background-color: white;
    color: $dark-color;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    min-width: 200px;
}
.flex {
    .text {
        width: 50%;
        min-width: 320px;
        margin-top: 20px;
        margin-bottom: 20px;
        h1 {
            color: $text-dark;
        }
    }
    .image {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 50%;
        min-width: 320px;
        display: flex;
        justify-content: end;
    }
}
.btn {
    transition: 0.2s;
    min-width: 200px;
    border-radius: 10px;
    font-weight: bold;
    &:hover {
        transform: scale(1.03);
    }
}
a {
    &:hover {
        text-decoration: none;
    }
}
